[Unit]
Description=Simple to use OSM tile server
Documentation=man:alacarte-maps-server(3) https://alacarte-maps.github.io
Wants=network.target

[Service]
Type=simple
#ExecStart=/usr/bin/alacarte-maps-server
ExecStart=/usr/bin/alacarte-server
#Restart=always
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
